# Archivo de ejemplo para variables de entorno de Digital Money House
# Copia este archivo a `.env` y ajusta los valores según tu entorno.

# App
SPRING_PROFILES_ACTIVE=prod
TZ=America/Bogota

# JWT
JWT_SECRET=REEMPLAZAR_CON_UN_SECRETO_SEGURO
JWT_EXPIRATION_MS=86400000

# DB
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=dmh
MYSQL_USER=dmh_user
MYSQL_PASSWORD=dmh_pass
MYSQL_ROOT_PASSWORD=dmh_root

# App Ports
APP_PORT=8080